html {
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
    font-size: smaller;
}

body {
    margin: 0px;
    padding: 0px;
    font-size: smaller;
    font-family: sans-serif;




}

a {
    color: unset;
    color: #1f1f1f;
    text-decoration: none !important;

}

h1 {
    color: brown;
    text-align: center;
    text-decoration: underline;
}

h3:hover {
    color: orange;
}

.heading {

    background-color: beige;
    display: flex;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 150px;
    padding-left: 20px;


}

.logo {

    width: 25%;
    border-radius: 15px;
    padding-left: 20px;


}

.logo-image {
    width: 30%;

    margin-top: 20px;
}
.logo-contact1 {
    width: 70%;
    display:none;
}
.logo-contact {
    width: 70%;
    display: none;
}

#logo-image {
    border-radius: 50%;
    height: 80px;
    width: 80px;
}

.sections {
    width: 25%;
    padding-top: 20px;
    text-align: center;
}


.fhome:hover {
    color: orange;
}

.fevent:hover {
    color: orange;
}

.fabout:hover {
    color: orange;
}


.lcontact:hover {
    color: orange;
}

.name {
    width: 50%;
    color: brown;
    text-align: left;
    padding: 20px;
}

.banner {
    background-image: url(../img/OIP.jpeg);
    background-size: cover;
    height: 400px;
    width: 100%;
}

/*about section */

.about {
    margin: 5px;
}

.about-image {
    height: 500px;



    text-align: center;

}

.about-content {
    height: 300px;

    margin-top: 2px;
    text-align: left;

}

/*opportunities sections*/
.opportunities {
    margin-top: 20px;

}

.opp-s {
    display: flex;
    background-color: beige;
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 20px;
    padding: 8px;
    border-radius: 15px;

}

.opp-type {

    width: 50%;
    text-align: center;
    text-transform: capitalize;

}

.opp-type:hover {
    color: orange;

}

.opp-apply {

    width: 50%;
    text-align: center;
}

/*leaders section*/
td,
th {
    border: 1px solid black;
    align-items: center;
    text-align: center;
}

.leaders {
    align-items: center;



    margin: 10px;



}

table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;




}

.leader-image {
    background-color: beige;

}

.l-image {
    border-radius: 50%;
    height: 100px;
    width: 100px;

}

/*Events Section */
.Ev {
    background-color: beige;
}

.events {
    display: flex;
    padding: 10px;



}

.event {
    width: 50%;
    text-align: left;
}

.date {
    width: 50%;
    text-align: left;
}

/* footer section */
.footer {
    background-color: gray;
    padding: 0px;
    margin-bottom: 0px;
    margin: 0px;
    display: flex;
    margin-top: 10px;


}

.all {
    width: 33.33%;
    padding-left: 5px;



}

.copyright {

    align-items: center;

}

.location {
    width: 33.33%;



}

.contact {
    width: 33.33%;
    text-align: left;
}

.fcontact {
    display: flex;
    padding-top: 12px;



}

.fcontact-name {
    width: 50%;
    text-align: left;



}

.fcontact-logo {
    width: 50%;
    text-align: right;
    margin-left: 30px;

}




@media screen and (min-width: 576px) {
    html {
        padding: 0px;
        margin: 0px;
        font-family: sans-serif;
        font-size: small;
    }

    body {
        margin: 0px;
        padding: 0px;
        font-size: small;
        font-family: sans-serif;



    }

    a {
        color: unset;
        color: #1f1f1f;
        text-decoration: none !important;

    }

    h1 {
        color: brown;
        text-align: center;
        text-decoration: underline;
    }

    h3:hover {
        color: orange;
    }

    /*header section */


    .heading {

        background-color: beige;
        display: flex;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 150px;
        
        padding-top: 0px;
        margin-top: 0px;


    }

    .logo {

        width: 25%;
        padding-top: 20px;

    }

    #logo-image {
        border-radius: 50%;
        

    }
    

    .sections {
        width: 25%;
        text-align: center;
        padding-top: 0px;

    }


    .fhome:hover {
        color: orange;
    }

    .fevent:hover {
        color: orange;
    }

    .fabout:hover {
        color: orange;
    }

    .fcontact:hover {
        color: orange;
    }

    .name {
        width: 50%;
        color: brown;
        text-align: left;
        padding-top: 0px;

    }
    
    .logo-contact1 {
        
        
        display: block;
        text-align:left; 
        
    }
    .mail-icon{
        display: none;
    }

    /*banner section */
    .banner {
        background-image: url(../img/OIP.jpeg);
        background-size: cover;
        height: 500px;
        width: 100%;
    }

    /* main section*/
    .main {
        padding: 0px;


    }

    .about {
        margin: 10px;
    }

    .about-image {
        height: 500px;
        width: 100%;
        text-align: center;

    }

    .about-content {
        height: 300px;

        margin-top: 2px;
        text-align: left;

    }

    /*opportunities sections*/
    .opportunities {
        margin-top: 20px;

    }

    .opp-s {
        display: flex;
        background-color: beige;

        margin-bottom: 20px;
        padding: 8px;
        border-radius: 15px;


    }

    .opp-type {

        width: 50%;
        text-align: center;
        text-transform: capitalize;

    }

    .opp-type:hover {
        color: orange;

    }

    .opp-apply {

        width: 50%;
        text-align: center;
    }

    /*leaders section*/
    td,
    th {
        border: 1px solid black;
        align-items: center;
        text-align: center;
    }

    .leaders {

        align-items: center;



    }

    .leaders h1 {
        text-align: center;
        padding-right: 0px;
        margin-top: 20px;

    }

    table {
        border: 1px solid black;
        border-collapse: collapse;
        height: 500px;


    }

    .leader-image {
        background-color: beige;

    }

    .l-image {
        border-radius: 50%;
        height: 100px;
        width: 100px;

    }

    /*Events Section */
    .Ev {
        background-color: beige;
    }

    .events {
        display: flex;
        padding: 10px;



    }

    .event {
        width: 50%;
        text-align: left;
    }

    .date {
        width: 50%;
        text-align: left;
    }

    /* footer section */
    .footer {
        background-color: gray;
        padding: 0px;
        margin-bottom: 0px;
        margin: 0px;
        display: flex;
        margin-top: 10px;


    }

    .all {
        width: 33.33%;
        padding-left: 5px;



    }

    .copyright {

        align-items: center;

    }

    .location {
        width: 33.33%;



    }

    .contact {
        width: 33.33%;

    }

    .fcontact {
        display: flex;
        padding-top: 12px;
        padding: 10px;



    }

    .fcontact-name {
        width: 50%;
        text-align: right;



    }

    .fcontact-logo {
        width: 50%;
        text-align: left;
        margin-left: 30px;

    }




}

/*---------------*/

@media screen and (min-width:768px) {
    html {
        padding: 0px;
        margin: 0px;
        font-family: sans-serif;
        font-size: medium;
    }

    body {
        margin: 0px;
        padding: 0px;
        font-size: medium;
        font-family: sans-serif;



    }

    a {
        color: unset;
        color: #1f1f1f;
        text-decoration: none !important;

    }

    h1 {
        color: brown;
        text-align: center;
        text-decoration: underline;
    }

    h3:hover {
        color: orange;
    }

    /*header section */


    .heading {

        background-color: beige;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 180px;
        


    }

    .logo {

        width: 25%;
        padding: 8px;

    }

    .logo-contact {
        padding-top: 10px;
        padding-left: 8px;
    }

    #logo-image {
        border-radius: 50%;
        height: 100px;
        width: 100px;
    }

    .sections {
        width: 25%;


    }


    .fhome:hover {
        color: orange;
    }

    .fevent:hover {
        color: orange;
    }

    .fabout:hover {
        color: orange;
    }

    .fcontact:hover {
        color: orange;
    }

    .name {
        width: 50%;
        color: brown;
        
        text-align: left;
    }
    
   
    /*banner section */
    .banner {
        background-image: url(../img/OIP.jpeg);
        background-size: cover;
        height: 600px;
        width: 100%;
    }

    /* main section*/
    .main {
        padding: 0px;


    }

    /*about section */

    .about {
        margin: 10px;
        
    }

    .about-image {
        height: 500px;
        width: 100%;
        text-align: center;

    }

    .about-content {
        height: 400px;

        margin-top: 8px;
        text-align: left;


    }

    /*opportunities sections*/
    .opportunities {
        margin-top: 20px;

    }

    .opp-s {
        display: flex;
        background-color: beige;
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 8px;
        border-radius: 15px;

    }

    .opp-type {

        width: 50%;
        text-align: center;
        text-transform: capitalize;

    }

    .opp-type:hover {
        color: orange;

    }

    .opp-apply {

        width: 50%;
        text-align: center;
    }

    /*leaders section*/
    td,
    th {
        border: 1px solid black;
        align-items: center;
        text-align: center;
    }

    .leaders {
        margin: 10px;
        align-items: center;



    }

    

    table {
        border: 1px solid black;
        border-collapse: collapse;



    }

    .leader-image {
        background-color: beige;

    }

    .l-image {
        border-radius: 50%;
        height: 100px;
        width: 100px;

    }

    /*Events Section */
    .Ev {
        background-color: beige;
    }

    .events {
        display: flex;
        padding: 10px;



    }

    .event {
        width: 50%;
        text-align: left;
    }

    .date {
        width: 50%;
        text-align: left;
    }

    /* footer section */
    .footer {
        background-color: gray;
        padding: 0px;
        margin-bottom: 0px;
        margin: 0px;
        display: flex;
        margin-top: 10px;


    }

    .all {
        width: 33.33%;
        padding-left: 5px;



    }

    .copyright {

        align-items: center;

    }

    .location {
        width: 33.33%;



    }

    .contact {
        width: 33.33%;

    }

    .fcontact {
        display: flex;
        padding-top: 12px;
        padding: 10px;



    }

    .fcontact-name {
        width: 50%;
        text-align: right;



    }

    .fcontact-logo {
        width: 50%;
        text-align: left;
        margin-left: 30px;

    }


}

@media screen and (min-width:992px) {
    html {
        padding: 0px;
        margin: 0px;
        font-family: sans-serif;
        font-size: large
    }

    body {
        margin: 0px;
        padding: 0px;
        font-size: large;
        font-family: sans-serif;



    }

    a {
        color: unset;
        color: #1f1f1f;
        text-decoration: none !important;

    }

    h1 {
        color: brown;
        text-align: center;
        text-decoration: underline;
    }

    h3:hover {
        color: orange;
    }

    /*header section */


    .heading {

        background-color: beige;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 200px;




    }

    .logo {
        display: flex;
        width: 25%;
        border-radius: 15px;
        align-items: center;
        

    }

    .logo-image {
        width: 30%;
    }

    .logo-contact {
        width: 70%;
    }

    #logo-image {
        border-radius: 50%;
    }

    .sections {
        width: 25%;
        padding-top: 10px;
    }


    .fhome:hover {
        color: orange;
    }

    .fevent:hover {
        color: orange;
    }

    .fabout:hover {
        color: orange;
    }

    .fcontact:hover {
        color: orange;
    }

    .name {
        width: 50%;
        color: brown;
        align-items: start;
        text-align: left;
        padding: 20px;
    }
    .logo-contact1{
        text-align: left;
    }
    .mail-icon{
        display: block;
        float: left;
        padding-right: 5px;
        margin-top: 5px;
    }

    /*banner section */
    .banner {
        background-image: url(../img/OIP.jpeg);
        background-size: cover;
        height: 800px;
        width: 100%;
    }

    /* main section*/
    .main {
        padding: 0px;


    }

    /*about section */

    .about {

        padding: 15px;
        margin-top: 20px;

        margin-bottom: 20px;


    }

    .about-image {

        text-align: center;

    }

    .about-content {
        height: 400px;
        text-align: left;

    }

    /*opportunities sections*/
    .opportunities {
        margin-top: 20px;

    }

    .opp-s {
        display: flex;
        background-color: beige;
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 8px;
        border-radius: 15px;

    }

    .opp-type {

        width: 50%;
        text-align: center;
        text-transform: capitalize;

    }

    .opp-type:hover {
        color: orange;

    }

    .opp-apply {

        width: 50%;
        text-align: center;
    }

    /*leaders section*/
    td,th {
        border: 1px solid black;
        align-items: center;
        text-align: center;
    }

    .leaders {
        
        margin: 10px;
    }

    
    table {
        border: 1px solid black;
        border-collapse: collapse;
        width: 100%;
    }

    .leader-image {
        background-color: beige;

    }

    .l-image {
        border-radius: 50%;
        height: 100px;
        width: 100px;

    }

    /*Events Section */
    .Ev {
        background-color: beige;
    }

    .events {
        display: flex;
        padding: 10px;



    }

    .event {
        width: 50%;
        text-align: left;
    }

    .date {
        width: 50%;
        text-align: left;
    }

    /* footer section */
    .footer {
        background-color: gray;
        padding: 0px;
        margin-bottom: 0px;
        margin: 0px;
        display: flex;
        margin-top: 10px;


    }

    .all {
        width: 33.33%;
        padding-left: 5px;



    }

    .copyright {

        align-items: center;

    }

    .location {
        width: 33.33%;



    }

    .contact {
        width: 33.33%;

    }

    .fcontact {
        display: flex;
        padding-top: 12px;
        padding: 10px;



    }

    .fcontact-name {
        width: 50%;
        text-align: right;



    }

    .fcontact-logo {
        width: 50%;
        text-align: left;
        margin-left: 30px;

    }

}

@media screen and (min-width:1200px) {
    html {
        padding: 0px;
        margin: 0px;
        font-family: sans-serif;
        font-size: large
    }

    body {
        margin: 0px;
        padding: 0px;
        font-size: large;
        font-family: sans-serif;



    }

    a {
        color: unset;
        color: #1f1f1f;
        text-decoration: none !important;

    }

    h1 {
        color: brown;
        text-align: center;
        text-decoration: underline;
    }

    h3:hover {
        color: orange;
    }

    /*header section */


    .heading {

        background-color: beige;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 170px;
        margin: 0;
        padding: 0;


    }

    .logo {
        display: flex;
        width: 33.33%;
        border-radius: 15px;
        align-items: center;
        padding: 0px;
        margin: 0px;
        text-align: left;
        padding-left: 5px;
        

    }

    .logo-image {
        width: 30%;
    }

    .logo-contact {
        width: 70%;
        display: block;
        text-align: left;

    }

    #logo-image {
        border-radius: 50%;
    }
.mail{
    display: none;
}

    .sections {
        width: 33.33%;
        display: flex;
        padding-top: 30px;
    }

    .fhome {
        width: 25%;
    }

    .fhome:hover {
        color: orange;
    }

    .fevent {
        width: 25%;
    }

    .fevent:hover {
        color: orange;
    }

    .fabout {
        width: 25%;
    }

    .fabout:hover {
        color: orange;
    }

    .fcontact {
        width: 25%;
    }

    .fcontact:hover {
        color: orange;
    }

    .name {
        width: 33.33%;
        color: brown;
        align-items: center;
        padding: 20px;
    }
    .logo-contact1{
        display: none;
    }


    /*banner section */
    .banner {
        background-image: url(../img/OIP.jpeg);
        background-size: cover;
        height: 800px;
        width: 100%;
    }

    /* main section*/
    .main {
        padding: 0px;


    }

    /*about section */
   
    .about {
        display: flex;
       
    }
    .about1{
       
       
       margin-top: 20px;
       
       margin-bottom: 15px;
       
    }

    .about-image {
        width: 50%;
        text-align: center;

    }

    .about-content {

        width: 50%;
        text-align: left;
        margin-left: 15px;

    }

    /*opportunities sections*/
    .opportunities {
        margin: 1px;

    }

    .opp-s {
        display: flex;
        background-color: beige;
        
        margin-bottom: 20px;
        padding: 8px;
        border-radius: 15px;

    }

    .opp-type {

        width: 50%;
        text-align: center;
        text-transform: capitalize;

    }

    .opp-type:hover {
        color: orange;

    }

    .opp-apply {

        width: 50%;
        text-align: center;
    }

    /*leaders section*/
    td,
    th {
        border: 1px solid black;
        align-items: center;
        text-align: center;
    }

    .leaders {
       margin: 20px;
        align-items: center;
        



    }

    .leaders h1 {
        text-align: center;
        
    }

    table {
        border: 1px solid black;
        border-collapse: collapse;
        width: 100%;


    }

    .leader-image {
        background-color: beige;

    }

    .l-image {
        border-radius: 50%;
        height: 100px;
        width: 100px;

    }

    /*Events Section */
    .Ev {
        background-color: beige;
    }

    .events {
        display: flex;
        padding: 10px;



    }

    .event {
        width: 50%;
        text-align: left;
    }

    .date {
        width: 50%;
        text-align: left;
    }

    /* footer section */
    .footer {
        background-color: gray;
        padding: 0px;
        margin-bottom: 0px;
        margin: 0px;
        display: flex;
        margin-top: 10px;


    }

    .all {
        width: 33.33%;
        padding-left: 5px;



    }

    .copyright {

        align-items: center;

    }

    .location {
        width: 33.33%;



    }

    .contact {
        width: 33.33%;

    }

    .fcontact {
        display: flex;
        padding-top: 12px;
        padding: 10px;



    }

    .fcontact-name {
        width: 50%;
        text-align: right;



    }

    .fcontact-logo {
        width: 50%;
        text-align: left;
        margin-left: 30px;

    }

}

